MONGO_URI=mongodb+srv://admin:b0t4Z2WTTvDIkRUe@cluster0.oemzke7.mongodb.net/task-man?retryWrites=true&w=majority
JWT_SECRET=supersecretkey
PORT=5000


EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=1d457ddec5684b
EMAIL_PASS=80f01bd6aba16c
EMAIL_FROM="TaskMan <noreply@taskman.dev>"